body{
    font-family: Arial,sans-serif;
    line-height: 2;
    background-color: #ffffff;
    color: #000000;
    margin: 1px;
    padding: 20px;
}
.container{
    width: 100%;
    margin: 1px;
}
h1{
    font-size: 200%;
    margin-bottom: 2px;
    border-bottom: 5px solid red;
    padding-bottom: 10px;
}
i{
    font-size: 90%;
}
p{
    margin-bottom: 1em;
    text-indent: 3em;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
sup{
    font-size: 70%;
    vertical-align: super;
}
